.container{
    padding: 20px 20px;
    margin: 25px 25px;
}
.row{
    justify-content: space-between;
}

.card{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.card-title{
    font-size: 40px;
    text-align: center;
}

.card-text{
    text-align: justify;
}

.form{
    margin: 15px;
}

.form-control{
    width: 50%;
    margin: 0 0px;
}
